@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

.name {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: rgb(106, 202, 235);
}

.name:hover {
    color: rgb(255, 255, 255);
    /* animation: animate 0.6s; */
}

.about button {
    background: transparent;
    border: none;
    font-size: 50px;
    font-weight: bold;
    color: #21325e;
    cursor: pointer;
    outline: none;
    width: 35px;
}

.E {
    margin-right: -10px;
}

.about button:hover {
    color: white;
    animation: animate 0.5s;
}

@keyframes animate {
    25% {
        transform: scale(0.8, 1.3);
    }
    50% {
        transform: scale(1.1, 0.8);
    }
    75% {
        transform: scale(0.7, 1.2);
    }
}

.words span {
    font-size: 1.2em;
    font-weight: bold;
    color: #21325e;
    display: grid;
    place-items: center;
    animation: spin_words 6s infinite;
}

.words {
    overflow: hidden;
    width: 100%;
    height: 37px;
}

@keyframes spin_words {
    10% {
        transform: translateY(-112%);
    }
    25% {
        transform: translateY(-100%);
    }
    35% {
        transform: translateY(-212%);
    }
    50% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-312%);
    }
    75% {
        transform: translateY(-300%);
    }
    85% {
        transform: translateY(-412%);
    }
    100% {
        transform: translateY(-400%);
    }
}

.buttons .pulse {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    background-color: palegoldenrod;
}

.buttons .pulse:hover {
    animation: rotate1 1s forwards;
}

.buttons .rot {
    width: 100%;
    height: 40px;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* .buttons .pulse:hover {
    animation: rotate1 0.5s ease-in-out forwards;
    background-color: #e9d35b;
} */
.buttons .rot:hover {
    width: 150px;
    animation: rot 0.5s ease-in-out forwards;
}

@keyframes rot {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate1 {
    70% {
        width: 150px;
        border-radius: 30px;
        justify-content: left;
    }
    100% {
        width: 150px;
        border-radius: 30px;
        justify-content: left;
    }
}

.buttons {
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.an {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(106, 202, 235);
    position: absolute;
    top: 10%;
    left: 7%;
    width: 1100px;
    height: 540px;
    opacity: 0.2;
    animation: slideup 1.5s ease-in-out forwards;
}

.content {
    color: rgb(233, 197, 202);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.an1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: rgb(106, 202, 235);
    position: absolute;
    top: 100%;
    left: 53%;
    width: 500px;
    height: 500px;
    animation: slideup 1.5s ease-in-out forwards;
}

.ann {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: rgb(106, 202, 235);
    position: absolute;
    top: 150%;
    left: 5%;
    width: 500px;
    height: 500px;
    animation: slideup 1.5s ease-in-out forwards;
}
    

@media only screen and (max-width: 600px) {
    .buttons .pulse:hover {
        animation: none;
    }
    .buttons .rot:hover {
        animation: none;
    }
    .about button {
        width: 32px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1020px) {
    .an {
        width: 50%;
        height: 80%;
        left: 25%;
        top: 18%;
    }
}


@media only screen and (min-width: 600px) and (max-width: 950px) {
    .an {
        width: 60%;
        height: 75%;
        left: 22%;
        top: 22%;
    }
}

@media only screen and (min-width: 1021px) and (max-width: 1200px) {
    .an {
        width: 500px;
        height: 500px;
        left: 30%;
        top: 16%;
    }
}

@media only screen and (min-width: 850px) and (max-width: 950px) {
    .an1 {
        width: 43%;
        height: 70%;
        z-index: 1;
    }   

    .ann {
        width: 43%;
        height: 70%;
        z-index: 1;
    }
}

@media only screen and (min-width: 600px) and (max-width: 849px) {
    .an1 {
        width: 40%;
        height: 50%;
        top: 110%;
        z-index: 1;
    }   

    .ann {
        width: 40%;
        height: 50%;
        top: 170%;
        z-index: 1;
    }
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
}

/* .hi {
    animation: hi 2s ease-in-out;
} */

@keyframes slideup {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0%);
    }
}

.Home {
    text-align: center;
    width: 100%;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    color: #3e497a;
}

.about {
    width: 100%;
    text-align: center;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    background: linear-gradient(110deg, #219ebc 60%, #3e497a 60%);
    color: #f0f0f0;
}

.about h1 {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    width: 350px;
    color: #cac7c7;
    animation: slideup 2s ease-in-out forwards;
    margin-left: 20px;
    margin-top: 0px;;
}

.about .aboutText {
    width: 65%;
    font-size: 1.2em;
    animation: slideup 2s ease-in-out forwards;
    margin-left: 20px;
    font-weight: 500;
}

.aboutText svg {
    font-size: 60px;
    margin: 5px;
    color: #e9d35b;
}

ol {
    list-style-type: none;
}

.skills {
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    backdrop-filter: blur(2px);
}

.skills h1 {
    margin: 10px;
    font-size: 1.6em; 
    font-weight: 400;
}

.skills h2 {
    font-size: 1.2em;
    font-weight: 500;
}

.skills .skillsList {
    list-style: none;
    width: 60%;
    z-index: 10;
}

.skillsList span {
    font-size: 20px;
}

.skillsList li {
    margin: 10px;
}

.an2 {
    display: none;
}

@media only screen and (max-width: 600px) {
    .name {
        font-size: 1.5em;
    }

    .an {
        display: none;
    }

    .an1 {
        display: none;
    }

    .ann {
        display: none;
    }

    .about h1 {
        margin-top: 50px;
        font-size: 40px;
        margin-left: 1px;
    }

    .about {
        width: 100%;
        text-align: center;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #21325e;
        color: #f0f0f0;
        margin-top: -120px;
    }

    .about .aboutText {
        margin-top: 10px;
        font-size: 20px;
        width: 80%;
    }

    .skills {
        text-align: center;
    }
    
    .skillsList {
        padding: 0;
    }

}

/*   TESTING    */

/* .card {
    position: relative;
    width: 30%;
    transform: translate(-90%, 280%);
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 11;
    opacity: 0.8;
}

.contentcard h2 {
    font-size: 5em;
    color:rgba(62, 154, 170, 0.361);
    text-align: right;
}

.contentcard h3 {
    transform: translate(0, -200%);
    color:rgb(106, 202, 235);
}

.contentcard p {
    transform: translate(0, -300%);
    color:rgb(106, 202, 235);
} */
