@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

.navbar {
    width: 100%;
    height: 100%;
    background: #21325e;
    /* background: linear-gradient(110deg, #219ebc 69.52%, #3e497a 60%); */

}
.navbar a {
    color: white;
    height: 40px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
}

.links p {
    color: rgb(106, 202, 235);
    font-weight: 700;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;;
}

.links p:hover {
    color: white;
}

.toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggleButton svg {
    font-size: 50px;
}

.toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#open {
    height: 100vh;
}

#open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    animation: fadeIn 1s forwards;
}
  
#open a {
    width: 100%;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .toggleButton {
        display: flex;
    }

    #close a {
        display: none;
    }

    .navbar a {
        width: 100px;
    }
}

@media only screen and (min-width: 601px) {
    .toggleButton {
        display: none;
    }
  
    .hiddenLinks {
        display: none;
    }
  
    #open {
        height: 100px;
    }
  
    #open .links {
        flex-direction: row;
    }

    /* .links {
        align-items: right;
        justify-content: right;
        margin-right: 80px;
    } */
} 
