.project b {
    font-size: 1.5em;
    font-weight: bold;
    color: #3e497a;
}

.github {
    font-size: 1.5em;
    background-color: #e9d35b;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px; 
    color: black;
    margin: 20px;
} 

.live {
    font-size: 1.5em;
    background-color: #e9d35b;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px; 
    color: black;
}

.project {
    width: 100%;
    height: calc(150vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.project h1 {
    margin-top: 50px;
    color: #3e497a;
    font-size: 35px;
}

.project img {
    width: 700px;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
  
.project p {
    font-size: 25px;
    color: #3e497a;
    margin: 10px;
}
  
.project svg {
    font-size: 60px;
    color: #3e497a;
}

@media only screen and (max-width: 600px) {
    .project img {
        width: 300px;
        height: 20%;
    }
}