.project b {
    font-size: 1.5em;
    font-weight: 500;
    color: #3e497a;
}

.github {
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e9d35b;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px; 
    color: black;
    margin: 20px;
    border: transparent;
    border-bottom: 2px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
} 

.github:hover {
    animation: shadow 1s ease-in-out;
    border-bottom: 2px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}

.live:hover {
    animation: shadow 1s ease-in-out;
    border-bottom: 2px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}

.live {
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e9d35b;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px; 
    margin: 20px;
    color: black;
    border: transparent;
    border-bottom: 2px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.butlinks {
    width: 26%;
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
    70% {
        box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


.project {
    width: 100%;
    height: calc(150vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.project h1 {
    margin-top: 50px;
    color: #3e497a;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.project img {
    width: 700px;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
  
.project p {
    font-size: 20px;
    color: #3e497a;
    margin: 10px;
    text-align: center;
}
  
.project svg {
    font-size: 60px;
    color: #3e497a;
}

.descbox {
    background-color: #f5f5f5;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 10px;
    width: 55%;
}

@media only screen and (max-width: 600px) {
    .project img {
        width: 300px;
        height: 20%;
    }

    .butlinks {
        width: 88%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .project {
        height: calc(110vh - 100px);
    }

    .descbox {
        width: 70%;
    }
}
